<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POKEQUEST - Trivias</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="desafios.component.css">
</head>
<body>
    <div class="pokedex-container">
        <div class="pokedex-screen">
            <div class="header">
                <h1><span class="poke">POKE</span><span class="quest">QUESTS</span></h1>
                <a href="index.html" class="back-button" (click)="IrAHomeTrivias($event)" role="button">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>

            <div class="ranking-section">
                <h2><i class="fas fa-trophy"></i> Desafíos:</h2>
                <nav class="main-nav">
                    <a href="" (click)="FiltrarDesafios('todos', $event)" role="button" tabindex="0" class="nav-button">Todos</a>
                    <a href="" (click)="FiltrarDesafios('pendientes', $event)" role="button" tabindex="0"class="nav-button">Pendientes</a>
                    <a href="" (click)="FiltrarDesafios('ganados', $event)" role="button" tabindex="0" class="nav-button">Ganados</a>
                    <a href="" (click)="FiltrarDesafios('perdidos', $event)" role="button" tabindex="0" class="nav-button">Perdidos</a>
                </nav>
                <div class="table-container">
                    <table class="players-table">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Puntos</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Ejemplo con datos estáticos -->
                            <tr class="player-row" *ngFor="let desafio of listaDesafiosFiltrados">
                                <td>{{desafio.descripcion}}</td>
                                <td>{{desafio.puntajeASuperar}}</td>
                                <td>{{desafio.estado}}</td>
                                <button class="challenge-button" (click)="AceptarDesafio(desafio)" *ngIf="desafio.debeAceptar">
                                    <i class="fas fa-bolt"></i> Aceptar
                                </button>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>