<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POKEQUEST</title>
    <link rel="stylesheet" href="berry.home.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1><span class="poke">POKE</span><span class="quest">QUEST</span></h1>
    <nav>
        <ul>
            <li><a href="#">Trivia</a></li>
            <li><a href="#">Pokemon</a></li>
            <li><a href="#">Habilidades</a></li>
        </ul>
    </nav>
</header>
    <main>
        <div class="search-container">
            <input type="text" placeholder="Buscar Baya...">
            <select>
                <option value="">Tipo...</option>
                <option value="agua">Agua</option>
                <option value="fuego">Fuego</option>
                <option value="planta">Planta</option>
                <option value="siniestro">Siniestro</option>
                <option value="tierra">Tierra</option>
                <option value="normal">Normal</option>
            </select>
        </div>
        <div class="pokemon-grid">
            <div class="pokemon-card">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/cheri-berry.png" alt="Cheri">
                <h2>N°001</h2>
                <p>Cheri</p>
                <span class="type fuego">Fuego</span>
            </div>
            <div class="pokemon-card">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/chesto-berry.png" alt="Chesto">
                <h2>N°002</h2>
                <p>Chesto</p>
                <span class="type agua">Agua</span>
            </div>
            <div class="pokemon-card">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/pecha-berry.png" alt="Pecha">
                <h2>N°003</h2>
                <p>Pecha</p>
                <span class="type electrico">Electrico</span>
            </div>
            <div class="pokemon-card">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/rawst-berry.png" alt="Greninja">
                <h2>N°004</h2>
                <p>Rawst</p>
                <div class="types-container">
                    <span class="type planta">Planta</span>
                </div>
            </div>
            <div class="pokemon-card">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/aspear-berry.png" alt="Cubone">
                <h2>N°005</h2>
                <p>Aspear</p>
                <span class="type hielo">Hielo</span>
            </div>
        </div>
    </main>
</body>
</html>