<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POKEQUEST - Piplup</title>
    <link rel="stylesheet" href="pokemon.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <a href="index.html" class="back-button">
        <i class="fas fa-arrow-left"></i>
    </a>

    <div class="pokemon-detail-container">
        <div class="pokemon-detail">
            <div class="pokemon-header">
                <h1 class="pokemon-name"><span class="poke">POKE</span><span class="quest">QUEST</span></h1>
                <span class="pokemon-number">No. {{ pokemon.id }}</span>
            </div>

            <div class="pokemon-content">
                <div class="pokemon-image">
                    <img [src]="pokemon.sprites.front_default" alt="pokemon.name">
                    <span *ngFor="let type of pokemon.types" 
                        class="type {{ type.type.name }}">
                        {{ type.type.name | titlecase }}
                    </span>
                </div>

                <div class="pokemon-info">
                    <h3>Movimientos</h3>
                    <ul>
                        <li *ngFor="let move of pokemon.moves | slice:0:4">
                            • {{ move.move.name | titlecase }}
                        </li>
                    </ul>

                    <h3>Habilidades</h3>
                    <ul>
                        <li *ngFor = "let habiliad of pokemon.abilities | slice:0:1">
                            • {{habiliad.ability.name}}</li>
                    </ul>

                    <h3>Evoluciones</h3>
                    <ul>
                        <li>• Prinplup</li>
                        <li>• Empoleon</li>
                    </ul>

                    <div class="pokemon-stats">
                        <div>
                            <strong>Peso:</strong> {{pokemon.weight}}kg
                        </div>
                        <div>
                            <strong>Altura:</strong> 0.{{pokemon.height}}m
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>