<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POKEQUEST</title>
    <link rel="stylesheet" href="abilities.home.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1><span class="poke">POKE</span><span class="quest">QUEST</span></h1>
    <nav>
        <ul>
            <li><a href="#">Trivia</a></li>
            <li><a href="#">Pokemon</a></li>
            <li><a href="#">Bayas</a></li>
            
        </ul>
    </nav>
</header>
    <main>
        <div class="search-container">
            <input type="text" placeholder="Buscar Habilidad...">
        </div>
        <div class="pokemon-grid">
            <div class="pokemon-card">
                <h2>N°001</h2>
                <p>Hedor</p>
                
            </div>
            <div class="pokemon-card">
                <h2>N°002</h2>
                <p>Llovizna</p>
           
            </div>
            <div class="pokemon-card">
                <h2>N°003</h2>
                <p>Impulso</p>
            </div>
            <div class="pokemon-card">
                <h2>N°004</h2>
                <p>Armadura Batalla</p>
            </div>
        </div>
    </main>
</body>
</html>