<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POKEQUEST</title>
    <link rel="stylesheet" href="abilities.home.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1><span class="poke">POKE</span><span class="quest">QUEST</span></h1>
    <nav>
        <ul>
            <li><a href="#" (click)="IrATrivia($event)">Trivia</a></li>
            <li><a href="#" (click)="IrAHome($event)">Pokemon</a></li>
            <li><a href="#" (click)="IrABayas($event)">Bayas</a></li>
            
        </ul>
    </nav>
    </header>
    <main>
        <div class="search-container">
            <input type="text" placeholder="Buscar Habilidad..." [(ngModel)]="busqueda" (input)="BuscarHabilidades(busqueda)">
        </div>
        <div class="pokemon-grid">
            <div class="pokemon-card" *ngFor="let habilidad of habilidadesFiltradas" (click)="HabilidadDetalles(habilidad.nombreEN)" role="button" tabindex="0">
                <h2>N°{{habilidad.id}}</h2>
                <p>{{habilidad.nombreES}}</p>
            </div>
        </div>
    </main>
</body>
</html>